body 
{
  background-color:bisque;
font-family: Bai Janjuree;
} 

footer 
{
  background-color: black;
  color: white;
  position: fixed;
  botton:0;
  width: 100%;
  heigher: 2 ten;
}

  footer P
{
  text-aling:center;
  font-size:0,6rem;
  margin-tap:0,5rem;
}
